.example-wrapper {
  margin: 20px;
  padding: 5px;
}

.time-form {
  width: 30%;
  margin-left: 37%;
  margin-top: 40px;
  display: flex;
}

.example-wrapper kendo-timepicker {
  margin-top: 10px;
  width: 65%;
}

.exchange h1 {
  color: #3bc480 !important;
  font-weight: bold !important;
  margin-top: 20px !important;
}

.form-inline {
  margin: 20px;
  padding: 5px;
  width: 30%;
  margin-left: 37%;
}

.form-inline label, button, select {
  margin: 20px;
}
